
YOLO neural network/.idea/inspectionProfiles/profiles_settings.xml
YOLO neural network/.idea/inspectionProfiles/Project_Default.xml
*.xml
*.json
*.jpg
*.png
YOLO neural network/test.ipynb
YOLO neural network/test.py
YOLO neural network/.idea/.name
